<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a : ' + a }}</h1>
      <h1>{{ 'Rata-Rata : ' + rata }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a: 0,
        rata: 0,
        jumlah_a: 0,
      },
      methods : {
          openForm : function () {
              var jumlah_klik = 0
              var jumlah = 0
              while(jumlah<10){
                this.a = prompt("Masukkan nilai a")
                jumlah += Number(this.a)
                jumlah_klik += 1
                this.rata = jumlah_klik
                this.a = jumlah
              }
              this.rata = jumlah/jumlah_klik
          }
      }
  })
  </script>
</body>
</html>