html{
    font-family: 'Alata', sans-serif;
}
body{
    margin: 0;
    background-color: #EEEEEE;
}
header{
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00ADB5;
}

img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    object-fit: cover;
}

.left{
    width: 600px;
    text-align: center;
}
section{
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
section h1{
    font-size: 32px;
}
a {
    padding-left: 20px;
    text-decoration: None;
    color: black;
}

footer{
    padding: 10px 0px;
    text-align: center;
    color: white;
    background-color: #00ADB5;
}